<div class="row">
  <div class="card">
    <div class="card-body">
      <div class="card border p-4">
        <div class="card-body">
          <form>
            @if(signature == null) {
            <div class="challange">{{ challenge }}</div>

            } @if(signature != null) {
            <div class="challange">{{ signature }}</div>

            } @if(!authService.isLoggedIn()) {
            <button
              type="button"
              class="btn btn-rounded btn-success w-100 p-4 mt-4"
              (click)="onConnect()"
            >
              Connect Wallet
            </button>

            } @if(authService.isLoggedIn() && signature == null) {
            <button
              type="button"
              class="btn btn-rounded btn-success w-100 p-4 mt-4"
              (click)="onGenerateSignature()"
            >
              Sign
            </button>
            } @if(signature != null) {
            <button
              type="button"
              class="btn btn-rounded btn-success w-100 p-4 mt-4"
            >
              Copy
            </button>
            }
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
